.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5%;
}
svg {
}
.selectors {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.selectOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    margin-left: 10px;
    font-family: inherit;
    padding: 2px;
    border-radius: 50px;
    &:focus {
      outline: none;
    }
  }
}
