.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.selectors {
  display: flex;
  min-width: 500px;
  width: 30%;
  justify-content: space-between;
}
.selectOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    font-size: inherit;
    margin-left: 10px;
    font-family: inherit;
    padding: 2px;
    border-radius: 50px;
    &:focus {
      outline: none;
    }
  }
}
.dropNavbar {
  animation-delay: 4s;
  animation: longDrop 15s ease-out forwards;
}
@keyframes longDrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2640px);
  }
}
@media screen and (max-width: 2416px) {
  @keyframes longDrop {
    100% {
      transform: translateY(2500px);
    }
  }
}
@media screen and (max-width: 2155px) {
  @keyframes longDrop {
    100% {
      transform: translateY(2370px);
    }
  }
}
@media screen and (max-width: 1874px) {
  @keyframes longDrop {
    100% {
      transform: translateY(2160px);
    }
  }
}
@media screen and (max-width: 1571px) {
  @keyframes longDrop {
    100% {
      transform: translateY(2000px);
    }
  }
}
@media screen and (max-width: 1282px) {
  @keyframes longDrop {
    100% {
      transform: translateY(1900px);
    }
  }
}
@media screen and (max-width: $laptop) {
  .navbar {
    font-size: 0.7rem;
  }
  .selectors {
    width: 60%;
    min-width: 380px;
  }
  .drop {
    width: 14px;
    height: 21px;
  }
  @keyframes longDrop {
    100% {
      transform: translateY(1620px);
    }
  }
}
@media screen and (max-width: 650px) {
  @keyframes longDrop {
    100% {
      transform: translateY(1550px);
    }
  }
}
@media screen and (max-width: $tablet) {
  .navbar {
    font-size: 0.6rem;
    align-items: flex-start;
  }
  .selectors {
    min-width: 200px;
  }
  .selectOption {
    flex-direction: column;
  }
  .drop {
    width: 12px;
    height: 19px;
  }
  @keyframes longDrop {
    100% {
      transform: translateY(1325px);
    }
  }
}
