.news {
  margin-left: 20px;
}
.article {
  margin: 5% 0;
  &:hover {
    .content {
      height: 100%;
      visibility: visible;
      transform: translateY(0px);
    }
  }
}
.linkToArticle {
  position: relative;
  font-family: boldFont;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
a {
  padding: 10px;
  display: flex;
  text-decoration: none;
  transition: color 300ms ease-in-out;
  color: black;
  &:hover {
    color: white;
  }
}
.content {
  transform: translateY(-20px);
  transition: all 300ms linear;
  visibility: hidden;
  height: 0;
  padding: 10px;
}
