.news {
  margin-left: 30px;
}
.article {
  margin: 5% 0;
  &:hover {
    .content {
      opacity: 1;
      max-height: 10em;
    }
  }
}
.headerArticle {
  display: inline-block;
}
.linkToArticle {
  display: flex;
  align-items: center;
  position: relative;
  font-family: boldFont;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
a {
  text-decoration: none;
  color: black;
}
#link {
  padding: 10px;
  display: flex;
  width: 100%;
  transition: color 300ms ease-in-out;
  &:hover {
    color: white;
    .content {
      opacity: 1;
      max-height: 10em;
    }
  }
}
.content {
  padding: 0px 10px;
  overflow: hidden;
  transition: max-height 0.8s;
  max-height: 0;
  opacity: 0;
}
@media screen and (max-width: $laptop) {
  .news {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: $tablet) {
  .news {
    font-size: 0.6rem;
    margin-left: 15px;
  }
}
