.news {
  margin-left: 9px;
  padding-left: 20px;
  position: relative;
  height: 2500px;
  margin-bottom: 50px;
}
.news::after {
  content: "";
  position: absolute;
  border-left: 2px solid #000;
  top: 0;
  left: 0;
  bottom: 100%;
  animation: trail 14.4s ease-out forwards;
  animation-delay: 0.4s;
}
.article {
  margin: 5% 0;
  &:hover {
    .content {
      opacity: 1;
      max-height: 10em;
    }
  }
}
.headerArticle {
  display: inline-block;
}
.linkToArticle {
  display: flex;
  align-items: center;
  position: relative;
  font-family: boldFont;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
a {
  text-decoration: none;
  color: black;
}
#link {
  padding: 10px;
  display: flex;
  width: 100%;
  transition: color 300ms ease-in-out;
  &:hover {
    color: white;
    .content {
      opacity: 1;
      max-height: 10em;
    }
  }
}
.content {
  padding: 0px 10px;
  overflow: hidden;
  transition: max-height 0.8s;
  max-height: 0;
  opacity: 0;
}
.noResult {
  text-align: center;
  margin-top: 10vh;
  line-height: 1.5rem;
  font-size: inherit;
}
@media screen and (max-width: 2416px) {
  .news {
    height: 2370px;
  }
  .news::after {
    animation: trail 14.5s ease-out forwards;
    animation-delay: 0.4s;
  }
}
@media screen and (max-width: 2155px) {
  .news {
    height: 2250px;
  }
}
@media screen and (max-width: 1874px) {
  .news {
    height: 2050px;
  }
}
@media screen and (max-width: 1571px) {
  .news {
    height: 1900px;
  }
}
@media screen and (max-width: 1282px) {
  .news {
    height: 1820px;
  }
}
@media screen and (max-width: $laptop) {
  .news {
    font-size: 0.8rem;
    margin-left: 6px;
    height: 1550px;
  }
}
@media screen and (max-width: 650px) {
  .news {
    height: 1490px;
  }
}
@media screen and (max-width: $tablet) {
  .news {
    font-size: 0.6rem;
    margin-left: 5px;
    height: 1280px;
  }
  .news::after {
    animation: trail 14.6s ease-out forwards;
    animation-delay: 0.3s;
  }
}
