@font-face {
  src: url(../fonts/ApercuMonoPro-Bold.ttf);
  font-family: boldFont;
  font-display: swap;
}
@font-face {
  src: url(../fonts/ApercuMonoPro-Light.ttf);
  font-family: lightFont;
  font-display: swap;
}
